@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.header {
  padding: 0.6rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #c6c9c9;
}

/* ----- HEADER-IMAGE ----- */
.image-container {
  display: flex;
  align-items: center;
}

.image-container img {
  height: 5rem;
  width: 5rem;
}

.image-container span {
  font-family: 'Varela Round', sans-serif;
  font-size: 2.8rem;
  font-weight: 900;
  color: #ff4500;
}

/* ----- SEARCH ----- */
.search {
  background-color: #eceded;
  padding: 0.8rem;
  padding-left: 1.8rem;
  width: 35%;
  font-size: 1.6rem;
  border: 2px solid #fff;
  border-radius: 2.5rem;

  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.search.active {
  border: 2px solid #639cff;
}

.search input {
  width: 90%;
  outline: none;
}

/* ----- USER ----- */
.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user .login {
  background-color: #ff4500;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0.8rem 1.2rem;
  border-radius: 2.5rem;
  cursor: pointer;
}

.user .login:hover {
  background-color: #cc3700;
}

.user .more {
  width: 4.6rem;
  padding: 0.8rem;
  cursor: pointer;
}

.user .more:hover {
  background-color: #eceded;
  border-radius: 50%;
}

/* ----- USER-CREATE ----- */
.user .create {
  padding: 0.6rem 1.2rem;
  border-radius: 2.5rem;

}

.user .create a {
  font-size: 1.8rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.user .create:hover {
  background-color: #eceded;
}

.user .create .create-icon {
  height: 2.6rem;
  width: 2.6rem;
}

/* ----- USER-NOTIFICATION ----- */
.user .notification {
  padding: 0.6rem 1.2rem;
  border-radius: 25rem;
}

.user .notification:hover {
  background-color: #eceded;
}

.user .notification a .bell {
  height: 2.6rem;
  width: 2.6rem;
}

/* ----- USER-PROFILE ----- */
.user .profile {
  /* padding: 0.6rem 1.2rem; */
  padding: 1rem;
  border-radius: 2.5rem;
}

.user .profile:hover {
  background-color: #eceded;
}

.user .profile img {
  height: 3.6rem;
  width: 3.6rem;
}